/*By Torlao && Garcia*/

#getlogin       {width:500px;height:500px;background:rgba(0,0,0,.5);}
#log            {float:right;}
#inside_header  {width: 1100px;height: 50px;background:rgba(0,0,0,.5);}
a,p,div         {text-decoration:none;color: white;font-family: sans-serif;/*segoe ui light*/}
body            {background-image: url("../img/background website.jpg");	background-attachment: fixed;}
.header         {height: 270px;width: 1100px;margin-top:0;background-image:url("../img/header.jpg");}
.menu           {height: 90px;width: 1100px;background-color:#111111;}
.menu2          {margin-top:-17px; width: 900px;height: 55px;background-color:#9E003A;}
.menu3          {width: 900px;height: 45px;background-color:#252525;}
.main_body      {/* margin-top: -16px;*/height:1139px;width:900px;background-color:#464646;}
.footer         {padding-top:10px;height:30px;background-color:#111111;}
#input          {margin-top:35px;margin-right: 20px;}
#m              {background-color: white;font-size:98px;}
#active         {position: absolute;height: 90px;background-color:orange;margin-top:-2px;clear:both;}
/*#menuH:hover    {position: absolute;height: 90px;background-color: #D14719;margin-top:-2px;clear:both;}
#menuH          {position: absolute;margin-top: 25px;}*/
#n              {background-color: #111111;}
/*#t1             {margin-left: 10px;float:left;background-attachment:fixed;}*/
/*#t2             {}*/
#box            {height: 300px;	width: 250px;}
/*#tdpad          {padding: 0px 100px;}*/
/*#tdpad2         {padding: 10px 45px;}*/
#tdpad3         {padding: 5px 39px;}
/*----------------------menu css------------------------------------------*/
.active_menu    {background-color:#EE691E;}
#mainmenu:hover {background-color: #EE691E;cursor: pointer;   opacity: 0.9;}
#navlist #mainmenu{font-size: 43px; display: inline;list-style-type: none;padding: 19px 25px;}
/*----------------------sale male female misc css------------------------------------------*/
.active_menu2    {background-color:#700028;}
#mainmenu2:hover {background-color: #700028;cursor: pointer;   opacity: 0.9;}
#navlist2 #mainmenu2{margin-top: 100px; font-size: 30px; display: inline;list-style-type: none;padding: 9.75px 50px;}
/*----------------------shoes jackets tees jeans shorts css------------------------------------------*/
.active_menu3    {color:#AB311C;}
#mainmenu3:hover {background-color: #242424;cursor: pointer;   opacity: 0.5;}
#navlist3 #mainmenu3{margin-top: 100px; font-size: 25px; display: inline;list-style-type: none;padding: 8px 30px;}
/*----------------------table css------------------------------------------*/
#table_         {border: 4;}
.mainTable      {}
.tableRow       {}
.tableRow td    {padding: 20px;}
.tableData      {width: 250px;   height: 290px;   clear: both;}
.mardagz        {width: 100%;  height: 260px;}
.details        {background-color: transparent;  width: 100%;  height: 25px;   position: relative;   top: 235px;}
.name           {background: #F9641C;width:50%;height:25px;float:left;}
.cart           {background: #A00535;width:50%;height:25px;float:right}
.purchased      {background: green;width:50%;height:25px;float:right}
.tddiv span     {position: relative;margin: 0px 10px;top: 2px;color: white;text-transform: uppercase;;text-shadow: 1px 1px gray;font-size: 10px;}
.tddiv          {transition: opacity 0.5s ease;text-align: center;}
.tddiv:hover    {cursor: pointer;   opacity: 0.5;}

/*-------------------------------PREV   NEXT------------------------------------*/
/*.prev         {margin-left: -3px; background: red;  width: 200px;    height: 30px;    margin-right: 60px;}
.view           {background: brown;    width: 200px;    height: 40px;    margin: 0px  60px;}
.next           {background: red;    width: 200px;    height: 30px;    margin-left: 62px;}
#nptdpad        {margin: 0px 80px;}*/
/*--------------------------signup.php---------------*/
#text           {width: 340px;    float: right;    margin-right: 200px;}
#label          {float: left;}
#err            {color: darkred;    font-size: 10px;}
.w3:hover       {color: yellow;}
/*-------------------------------about.php----------------------------*/
.aboutUp        {width: 900px;height: 549px;        }
.aleft          {float: left;height: 539px;width: 450px;       }
.aright         {float: right;height: 539px;width: 450px;   }
.anamel         {height: 50px;width: 450px;background-color: #9E003A;    float: left;}
.anamer         {height: 50px;width: 450px;background-color: #7C0025;    float: right;}
/*-------------------add_cart---------------------*/
.err            {font-size: 10px;    color: darkred;}
.oos            {font-size: 10px;    color: green;}
/*------------------------profile.php=----------*/
.primary        {height: 300px;    width: 300px;    float: left;    margin-top: 120px;    margin-left: 100px;}
/*------------------------contact.php=----------*/
.social         {padding: 10px 10px;}
.media          {height:30px; margin-top:-10px;   }
/*------------------------log in----------*/
.login:hover    {color: #D14719;}
.logout			{color:#CC3300}
.logout:hover    {color: red;}
.setting:hover       {color:#D14719;}
.profile { inline;list-style-type: none;}