body{
	background-color: gray;
}
.d{
	background-color:; 
	margin: 20px 20px;
}

/*---------------------- add account------------------------*/
#err{
	float: left;
	font-size: 10px;
	color: darkred;
}